/* --- global --- */

/* --- header especifico --- */
	header{
		position: relative;
	}
	/* --- submenu --- */
	header .dropdown-menu{
		margin-top: -8px;
		opacity: 0.9;
	}
	header #topo a.text-primary:focus,
	header #topo a.text-primary:hover{
		color: var(--gray-dark)!important;
	}
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--gray-dark)!important;
		border-bottom: 1px solid var(--red)!important;
		transition: .5s;
	}

/* --- conteudo --- */
	#conteudo a{
		text-decoration: none!important;
	}
	#conteudo h1{
		font-size: 50px;
	}
	#conteudo .h1:hover{
		color: #b30d0f!important;
	}
	#conteudo .artigo .zoom{
		overflow: hidden;
	}
	#conteudo .artigo .zoom img.w-100{
		transition: transform .8s;
	}
	#conteudo .artigo .zoom:hover img.w-100{
		transform: scale(1.08);
	}
	#conteudo .artigo .float-left a{
		font-size: 16px;
		color: #303030!important;
	}
	#conteudo .artigo .float-left a:hover{
		text-decoration: underline!important;
	}
	#conteudo .artigo .float-right a img,
	#conteudo .artigo .float-right a:hover img{
		transition: .3s;
	}
	#conteudo .artigo .float-right a:hover img{
		transform: scale(1.2);
	}
	#conteudo article.border-bottom{
		border-color: #ababab!important;
	}
	#paginacao .active{
		font-weight: bold;
	}
	#paginacao a:hover{
		color: var(--primary-color)!important;
		text-decoration: underline!important;
	}
	#paginacao a:hover img{
		color: var(--primary-color)!important;
		transform: scale(1.5)!important;
	}

/* --- aside --- */
	aside .input-group{
		border: 1px solid #ababab!important;
		height: 55px;
		padding-top: 6px;
		padding-left: 10px;
		padding-right: 10px;
	}
	aside .fa-search{
		color: #b30d0f;
	}
	aside .categorias{
		background-color: #b30d0f;
	}
	aside .lidos{
		background-color: #333333;
	}
	aside .arquivos{
		background-color: #aaaaaa;
	}
	aside .categorias,
	aside .lidos,
	aside .arquivos{
		font-family: "TitilliumWeb Regular";
		padding-top: 17px;
		padding-bottom: 17px;
		font-size: 18px;
	}
	aside li{
		font-family: "TitilliumWeb Regular";
		list-style: none;
		font-size: 18px;
		font-weight: lighter;
		margin-bottom: 	5px;
		padding-bottom: 5px;
	}
	aside li a{
		color: #333333;
	}
	aside li a:hover{
		color: #b30d0f;
		border-bottom: 1px solid #b30d0f;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- header especifico --- */
		header{
			position: relative;
		}
		/* --- submenu --- */
		header .dropdown-menu{
			margin-top: 14px;
			opacity: 1;
		}
		header .navbar-nav li a,
		header .navbar-nav li a:hover{
			color: var(--white)!important;
		}
		header .dropdown-menu ul li a{
			color: var(--primary-color)!important;
		}

}

@media screen and (max-width: 992px) {
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--white)!important;
	}
}

@media screen and (max-width: 480px) {
	article .h1{
		font-size: 27px;
	}
	article .redes a{
		margin-left: 2px!important;
		margin-right: 2px!important;
	}

	aside .input-group{
		height: 45px;
		padding-top: 1px;
		padding-left: 0px;
		padding-right: 0px;
	}
	aside .input-group{
		margin-top: 0px !important;
	}
	aside .categorias{
		font-size: 14px!important;
		padding: 12px!important;
		letter-spacing: 0px!important;
	}
}

@media screen and (max-width: 375px) {
	
}

@media screen and (max-width: 320px) {
	
}