/* --- global --- */

/* --- header especifico --- */
	header{
		position: relative;
	}
	/* --- submenu --- */
	header .dropdown-menu{
		margin-top: -8px;
		opacity: 0.9;
	}
	header #topo a.text-primary:focus,
	header #topo a.text-primary:hover{
		color: var(--gray-dark)!important;
	}
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--gray-dark)!important;
		border-bottom: 1px solid var(--red)!important;
		transition: .5s;
	}

/* --- conteudo --- */
	#conteudo h1{
		font-size: 50px;
	}

/* --- formulario de contato --- */
	#formulario-contato h2{
		font-size: 30px;
	}
	#formulario-contato input{
		height: 55px;
		font-size: 16px;
		padding-left: 30px;
		color: #333333;
	}
	#formulario-contato textarea{
		height: 115px;
		font-size: 16px;
		padding-top: 10px;
		padding-left: 30px;
		margin: auto 6px;
		color: #333333;
	}
	#formulario-contato button.btn{
		background-color: #b20d0f;
		font-size: 18px;
		color: var(--white);
		padding: 13px 51px;
	}
	#formulario-contato button.btn:hover{
		box-shadow: 0px 4px 6px #888;
	}

	/* canais de contato */
	#formulario-contato .canais-contato h3{
		font-size: 23px;
	}
	#formulario-contato .canais-contato p{
		font-size: 16px;
		color: #aaaaaa;
		margin-bottom: 27px;
	}
	#formulario-contato .canais-contato button.btn{
		background-color: #333333;
	}
	#formulario-contato .canais-contato button.btn:hover{
		box-shadow: 0px 4px 6px #888;
	}

/* --- redes sociais --- */
	.iframely-responsive{
		height: 150px!important;
	}
	#redes-sociais .facebook{
		/*width: 475px!important;*/
		height: 150px!important;
		object-fit: cover;
	}
	#redes-sociais .instagram img{
		width: 150px;
		height: 170px;
		object-fit: cover;
	}
	#redes-sociais .facebook a,
	#redes-sociais .instagram a{
		font-size: 20px;
		color: #333333;
	}

/* --- segestoes --- */
	#segestoes h2{
		font-size: 30px;
	}
	#segestoes p{
		padding-right: 100px;
	}
	/* formulario */
	#segestoes input{
		height: 55px;
		font-size: 16px;
		padding-left: 30px;
	}
	#segestoes textarea{
		height: 97px;
		font-size: 16px;
		padding-top: 10px;
		padding-left: 30px;
	}
	#segestoes button.btn{
		background-color: #b20d0f;
		font-size: 18px;
		color: var(--white);
		padding: 13px 51px;
	}
	#segestoes button.btn:hover{
		box-shadow: 0px 4px 6px #888;
	}

/* --- modal Trabalhe Conosco */
	#modalTrabalheConosco .modal-lg{
		min-width: 980px!important;
		/*heit 774*/
	}
	#modalTrabalheConosco .modal-body{
		padding: 100px 150px;
	}
	#modalTrabalheConosco h2{
		font-size: 50px;
	}
	#modalTrabalheConosco input,
	#modalTrabalheConosco select{
		height: 50px;
		font-size: 16px;
		border: 1px solid #aaaaaa;
	}
	#modalTrabalheConosco button.btn{
		background-color: var(--primary-color);
		font-size: 18px;
		color: var(--white);
		padding: 10px 32px;
	}	

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- header especifico --- */
		header{
			position: relative;
		}
		/* --- submenu --- */
		header .dropdown-menu{
			margin-top: 14px;
			opacity: 1;
		}
		header .navbar-nav li a,
		header .navbar-nav li a:hover{
			color: var(--white)!important;
		}
		header .dropdown-menu ul li a{
			color: var(--primary-color)!important;
		}

	/* --- redes sociais --- */
		#redes-sociais .facebook{
			width: 100%!important;
		}
		#redes-sociais .facebook span{
			width: 100%!important;
		}

	/* --- modal Trabalhe Conosco */
		#modalTrabalheConosco .modal-lg{
			min-width: initial!important;
		}
		#modalTrabalheConosco .modal-body{
			padding: 80px 80px;
		}
		#modalTrabalheConosco h2{
			font-size: 40px;
		}
		#modalTrabalheConosco button.btn{
			font-size: 16px;
			padding: 6px 24px;
		}
}

@media screen and (max-width: 992px) {
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--white)!important;
	}
	/* --- quero contratar --- */
		#quero-contratar textarea{
			height: 194px;
		}

	/* --- formulario de contato --- */
		#formulario-contato textarea{
			height: 112px;
		}
		/* canais de contato */
		#formulario-contato .canais-contato h3{
			font-size: 22px;
		}
		#formulario-contato .canais-contato p{
			/*font-size: 16px;*/
			/*color: #aaaaaa;*/
			margin-bottom: 27px;
		}
		#formulario-contato .canais-contato button.btn{
			width: 100%;
		}

	/* --- segestoes --- */
		#segestoes p{
			padding-right: 0px;
		}
}

@media screen and (max-width: 480px) {
	/* --- conteudo --- */
		#conteudo h1{
			font-size: 40px;
		}

	/* --- formulario de contato --- */
		#formulario-contato textarea{
			height: 334px;
		}
		#formulario-contato button.btn{
			width: 100%
		}

	/* --- redes sociais --- */
		#redes-sociais .facebook p,
		#redes-sociais .instagram p{
			text-align: center;
		}

	/* --- segestoes --- */
		/* formulario */
		#segestoes textarea{
			height: 340px;
		}
		#segestoes button.btn{
			width: 100%;
		}

	/* --- modal Trabalhe Conosco */
		#modalTrabalheConosco .modal-lg{
			min-width: initial!important;
		}
		#modalTrabalheConosco .modal-body{
			padding: 70px 70px;
		}
		#modalTrabalheConosco h2{
			font-size: 24px;
		}
		#modalTrabalheConosco input,
		#modalTrabalheConosco select{
			height: 35px;
			font-size: 16px;
		}
		#modalTrabalheConosco button.btn{
			font-size: 16px;
			padding: 6px 18px;
		}
}

@media screen and (max-width: 375px) {
	
}

@media screen and (max-width: 320px) {
	/* --- modal Trabalhe Conosco */
		#modalTrabalheConosco .modal-body{
			padding: 40px 40px;
		}
		#modalTrabalheConosco input,
		#modalTrabalheConosco select{
			height: 30px;
			font-size: 14px;
		}
		#modalTrabalheConosco button.btn{
			font-size: 14px;
			padding: 6px 18px;
		}	
}