/* --- global --- */

/* --- header especifico --- */
	header{
		position: relative;
	}
	/* --- submenu --- */
	header .dropdown-menu{
		margin-top: -8px;
		opacity: 0.9;
	}
	header #topo a.text-primary:focus,
	header #topo a.text-primary:hover{
		color: var(--gray-dark)!important;
	}
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--gray-dark)!important;
		border-bottom: 1px solid var(--red)!important;
		transition: .5s;
	}

/* --- corpo clinico --- */
	#corpo-clinico{
		padding-bottom: 20px;
	}
	#corpo-clinico .slide{
		position: relative;
	}
	#corpo-clinico .slide img{
		max-height: 260px;
		width: 100%;
		object-fit: cover;
	}
	#corpo-clinico .slide .descricao{
		position: absolute;
		bottom: 0;
		background-color: rgba(0,0,0,.8);
		color: var(--white);
		width:100%;
		height:35%;
		opacity: 0;
		transition: .5s;
		font-size: 14px;
	}
	#corpo-clinico .slide:hover .descricao{
		opacity: 1;
		transition: .5s;
	}

	/* --- slick-slide --- */
	.btn-slick-carousel-left,
	.btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		top: 45%;
	}
	.btn-slick-carousel-left{
		left: -60px;
	}
	.btn-slick-carousel-right{
		right: -60px;
	}

/* --- conteudo --- */
	#conteudo h1{
		font-size: 40px;
	}
	#conteudo .ambientes img.img-1{
		height: 700px;
		object-fit: cover;
		filter: grayscale(100%);
		transition: .5s;
	}
	#conteudo .ambientes img.img-2{
		height: 350px;
		object-fit: cover;
		filter: grayscale(100%);
		transition: .5s;
	}
	#conteudo .ambientes img.img-3{
		height: 350px;
		object-fit: cover;
		filter: grayscale(100%);
		transition: .5s;
	}
	#conteudo .ambientes img.img-4{
		height: 350px;
		object-fit: cover;
		filter: grayscale(100%);
		transition: .5s;
	}
	#conteudo .ambientes img.img-5{
		height: 350px;
		object-fit: cover;
		filter: grayscale(100%);
		transition: .5s;
	}
	#conteudo .ambientes img:hover{
		filter: grayscale(0%);	
	}
	#conteudo .ambientes .descricao p{
		font-size: 18px;
	}
	#conteudo .ambientes .descricao{
		position: absolute;
		bottom: 0;
		background-color: rgba(0,0,0,.8);
		color: var(--white);
		width:100%;
		height:50px;
		opacity: 0;
		transition: .5s;
	}
	#conteudo .ambientes .new-hover:hover .descricao{
		opacity: 1;
		transition: .5s;
	}

/* --- profissionais-carousel --- */
	#profissionais-carousel .banners .carousel-item{
		height: 825px;
		background-size: cover;
	}

	#profissionais-carousel .col-descricao .row .col-12{
		max-height: 500px;
		overflow-y: auto;
	}
	
	#profissionais-carousel .display-4,
	#profissionais-carousel .cro{
		font-family: "TitilliumWeb Light";
		color: #333333;
	}
	#profissionais-carousel .display-4{
		font-size: 50px;
	}
	#profissionais-carousel .cro{
		font-size: 20px;
	}
	#profissionais-carousel .descricao{
		font-family: "TitilliumWeb Regular";
		color: #aaaaaa;
	}
	#profissionais-carousel .bg-white{
		padding: 60px 100px;
	}
	#profissionais-carousel .contato img{
		width: 16px;
		transform: rotate(-90deg);
	}

	/* navegacao */
	#profissionais-carousel a:hover{
		text-decoration: none;
	}
	#profissionais-carousel a img{
		width: 18px;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- profissionais-carousel --- */
		#profissionais-carousel .carousel-item{
			background-position: 50%!important;
		}
}

@media screen and (max-width: 1200px) {
	/* --- header especifico --- */
		header{
			position: relative;
		}
		/* --- submenu --- */
		header .dropdown-menu{
			margin-top: 14px;
			opacity: 1;
		}
		header .navbar-nav li a,
		header .navbar-nav li a:hover{
			color: var(--white)!important;
		}
		header .dropdown-menu ul li a{
			color: var(--primary-color)!important;
		}

	/* --- corpo clinico --- */
		#corpo-clinico .slide img{
			max-height: 245px;
		}
		#corpo-clinico .slide .descricao{
			font-size: 14px;
		}
		/* --- slick-slide --- */
		.btn-slick-carousel-left{
			left: -40px;
		}
		.btn-slick-carousel-right{
			right: -40px;
		}

	/* --- profissionais-carousel --- */
		#profissionais-carousel .carousel-item{
			background-position: 40%!important;
		}
		#profissionais-carousel .bg-white{
			padding: 30px 70px;
		}
}

@media screen and (max-width: 992px) {
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--white)!important;
	}
	/* --- conteudo --- */
		#conteudo h1{
			font-size: 40px;
		}
		#conteudo .ambientes img.img-1,
		#conteudo .ambientes img.img-2,
		#conteudo .ambientes img.img-3,
		#conteudo .ambientes img.img-4,
		#conteudo .ambientes img.img-5{
			width: 100%;
			height: 350px;
		}
		/* --- slick-slide --- */
		.btn-slick-carousel-left{
			left: -38px;
		}
		.btn-slick-carousel-right{
			right: -38px;
		}

	/* --- profissionais-carousel --- */
		#profissionais-carousel .carousel-inner{
			height: 1380px;
		}
		#profissionais-carousel .col-imagem{
			height: 810px;
		}
		#profissionais-carousel .col-descricao .row{
			width: 90%!important;
			margin-left: auto;
			margin-right: auto;
		}
		#profissionais-carousel .carousel-item{
			background-position: 10%!important;
		}
		#profissionais-carousel .bg-white{
			padding: 30px 70px;
		}
		#profissionais-carousel .display-4{
			font-size: 48px;
		}
		#profissionais-carousel .cro{
			font-size: 19px;
		}
		#profissionais-carousel .descricao{
			font-size: 15px;
		}

		/* navegacao */
		#profissionais-carousel .new-navegacao{
			margin-top: 10px;
		}
		#profissionais-carousel h2{
			margin-top: -38px;
		}
}

@media screen and (max-width: 480px) {
	/* --- corpo clinico --- */
		#corpo-clinico .container{
			width: 85%;
		}
		#corpo-clinico .container h2{
			font-size: 40px;
		}
		#corpo-clinico .slide img{
			max-height: 376px;
			min-height: 376px;
		}
		#corpo-clinico .slide .descricao{
			height:28%;
			opacity: 1;
		}
		#corpo-clinico .slide .descricao{
			font-size: 17px;
		}

	/* --- conteudo --- */
		#conteudo .container h1{
			font-size: 30px;
		}
		#conteudo .container p{
			text-align: justify;
		}
		#conteudo .ambientes img.img-1,
		#conteudo .ambientes img.img-2,
		#conteudo .ambientes img.img-3,
		#conteudo .ambientes img.img-4,
		#conteudo .ambientes img.img-5{
			height: 250px;
		}
		#conteudo .ambientes .descricao p{
			font-size: 12.92px;
		}
		#conteudo .ambientes .descricao{
			height:36px;
		}

	/* --- profissionais-carousel --- */
		#profissionais-carousel .carousel-inner{
			height: 1040px;
		}
		#profissionais-carousel .col-imagem{
			height: 415px;
		}
		#profissionais-carousel .carousel-item{
			height: 420px!important;
			background-position: 10%!important;
			background-size: 900px!important;
			background-repeat: no-repeat!important;
		}
		#profissionais-carousel .bg-white{
			padding: 30px 0px;
		}
		#profissionais-carousel .display-4{
			font-size: 43px;
		}
		#profissionais-carousel .descricao{
			font-size: 15px;
		}
		#profissionais-carousel .contato img{
			transform: rotate(0deg);
			display: inline!important;
			margin: auto 18px;
		}
}

@media screen and (max-width: 375px) {
	/* --- profissionais-carousel --- */
		#profissionais-carousel .carousel-inner{
			/*height: 1080px;*/
		}
		#profissionais-carousel .contato img{
			margin: auto 16px;
		}
}

@media screen and (max-width: 320px) {
	/* --- profissionais-carousel --- */
		#profissionais-carousel .carousel-inner{
			/*height: 1600px;*/
		}
		#profissionais-carousel .contato img{
			margin: auto 10px;
		}
}