/* --- global --- */

/* --- header especifico --- */
	header{
		position: relative;
	}
	/* --- submenu --- */
	header .dropdown-menu{
		margin-top: -8px;
		opacity: 0.9;
	}
	header #topo a.text-primary:focus,
	header #topo a.text-primary:hover{
		color: var(--gray-dark)!important;
	}
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--gray-dark)!important;
		border-bottom: 1px solid var(--red)!important;
		transition: .5s;
	}

/* --- conteudo --- */
	#conteudo .row p{
		font-size: 28px;
	}
	#conteudo .new-bg-gray{
		background-color: #fbfbfb;
	}

/* --- estrutura --- */
	#estrutura .row h2{
		font-size: 38.83px;
	}
	#estrutura .eventos-01 .carousel-item img,
	#estrutura .eventos-02 .carousel-item img{
		height: 340px;
		object-fit: cover;
	}
	#estrutura .eventos-01 .carousel-indicators,
	#estrutura .eventos-02 .carousel-indicators{
	    position: relative; 
	    bottom: 0px; 
	    margin-right: 14px; 
	    margin-left: 8px; 
	}
	#estrutura .eventos-01 .carousel-indicators li,
	#estrutura .eventos-02 .carousel-indicators li{
	    position: relative;
	    width: 100%;
	    height: 110px;
	    text-indent: initial;
	    cursor: pointer;
	}
	#estrutura .eventos-01 .carousel-indicators li img,
	#estrutura .eventos-02 .carousel-indicators li img{
		height: 102px;
		object-fit: cover;
	}

/* --- quero contratar --- */
	#quero-contratar h2{
		font-size: 30px;
	}
	#quero-contratar input{
		height: 55px;
		font-size: 16px;
		padding-left: 30px;
	}
	#quero-contratar textarea{
		height: 105px;
		font-size: 16px;
		padding-left: 30px;
		margin: auto 6px;
	}
	#quero-contratar button.btn{
		background-color: #b20d0f;
		font-size: 18px;
		color: var(--white);
		padding: 13px 51px;
	}
	#quero-contratar button.btn:hover{
		box-shadow: 0px 4px 6px #888;
	}

/* --- proximos eventos --- */
	#proximos-eventos h2{
		font-size: 50px;
	}
	#proximos-eventos .row .descricao{
		background-color: #aaaaaa;
		color: var(--white);
	}
	#proximos-eventos .row img{
		height: 406px;
		object-fit: cover;
	}
	#proximos-eventos .row .h-100{
		/*width: 65%;*/
	}
	#proximos-eventos .row h3{
		font-size: 31.98px;
	}
	#proximos-eventos .row .data{
		font-size: 19.19px;
	}
	#proximos-eventos .row h4{
		font-size: 22.39px;
	}
	#proximos-eventos .row p{
		font-size: 12px;
		line-height: 16px;
	}
	#proximos-eventos .row a{
		font-size: 16px;
	}

	#proximos-eventos .descricao .rolagem{
		max-height: 280px;
		overflow-y: auto;
	}

/* --- modal Quero participar --- */
	#modalParticipar .modal-lg{
		min-width: 980px!important;
	}
	#modalParticipar .modal-body{
		padding: 100px 150px;
	}
	#modalParticipar h2{
		font-size: 50px;
	}
	#modalParticipar input,
	#modalParticipar select{
		height: 50px;
		font-size: 16px;
		border: 1px solid #aaaaaa;
	}
	#modalParticipar button.btn{
		background-color: var(--primary-color);
		font-size: 18px;
		color: var(--white);
		padding: 10px 32px;
	}
	#modalParticipar ::placeholder{
		color: #333333;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- header especifico --- */
		header{
			position: relative;
		}
		/* --- submenu --- */
		header .dropdown-menu{
			margin-top: 14px;
			opacity: 1;
		}
		header .navbar-nav li a,
		header .navbar-nav li a:hover{
			color: var(--white)!important;
		}
		header .dropdown-menu ul li a{
			color: var(--primary-color)!important;
		}

	/* --- conteudo --- */
		#conteudo .row{
			width: 40%;
			margin-left: auto;
			margin-right: auto;
		}

	/* --- modal Quero participar */
		#modalParticipar .modal-lg{
			min-width: initial!important;
		}
		#modalParticipar .modal-body{
			padding: 80px 80px;
		}
		#modalParticipar h2{
			font-size: 40px;
		}
		#modalParticipar button.btn{
			font-size: 16px;
			padding: 6px 24px;
		}
}

@media screen and (max-width: 992px) {
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--white)!important;
	}
	/* --- conteudo --- */
		#conteudo .row{
			width: 54%;
		}

	/* --- proximos eventos --- */
		#proximos-eventos .row .h-100{
			width: 100%;
			text-align: justify;
		}
		#proximos-eventos .row p{
			font-size: 12px;
		}

	/* --- quero contratar --- */
		#quero-contratar textarea{
			height: 194px;
		}
}

@media screen and (max-width: 480px) {
	/* --- conteudo --- */
		#conteudo .row{
			width: 88%;
		}
		#conteudo .row p{
			font-size: 26px;
		}

	/* --- estrutura --- */
		#estrutura .row h2{
			font-size: 28.83px;
		}
		#conteudo .row p{
			font-size: 24px;
		}
		#estrutura .eventos-01 .carousel-item img,
		#estrutura .eventos-02 .carousel-item img{
			height: 332px;
		}
		#estrutura .eventos-01 .carousel-indicators li,
		#estrutura .eventos-02 .carousel-indicators li{
		    height: 128px;
		}
		#estrutura .eventos-01 .carousel-indicators li img,
		#estrutura .eventos-02 .carousel-indicators li img{
			height: 118px;
		}

	/* --- quero contratar --- */
		#quero-contratar button.btn{
			width: 100%;
		}
		#quero-contratar textarea{
			height: 310px;
		}

	/* --- proximos eventos --- */
		#proximos-eventos h2{
			font-size: 38px;
		}
		#proximos-eventos .row img{
			height: 262px;
		}

		#proximos-eventos .rolagem{
			min-height: 350px;
			/*border: 1px solid red;*/
		}

	/* --- modal Quero participar */
		#modalParticipar .modal-lg{
			min-width: initial!important;
		}
		#modalParticipar .modal-body{
			padding: 70px 70px;
		}
		#modalParticipar h2{
			font-size: 24px;
		}
		#modalParticipar input,
		#modalParticipar select{
			height: 35px;
			font-size: 16px;
		}
		#modalParticipar button.btn{
			font-size: 16px;
			padding: 6px 18px;
		}
}

@media screen and (max-width: 375px) {
	/* --- conteudo --- */
		#conteudo h1.titulo{
			font-size: 24px;
		}
		#conteudo .row p{
			font-size: 20px;
		}
}

@media screen and (max-width: 320px) {
	/* --- conteudo --- */
		#conteudo .row{
			width: 100%;
		}

	/* --- estrutura --- */
		#estrutura .row h2{
			font-size: 23px;
		}
		#estrutura .eventos-01 .carousel-item img,
		#estrutura .eventos-02 .carousel-item img{
			height: 250px;
		}
		#estrutura .eventos-01 .carousel-indicators li,
		#estrutura .eventos-02 .carousel-indicators li{
		    height: 86px;
		}
		#estrutura .eventos-01 .carousel-indicators li img,
		#estrutura .eventos-02 .carousel-indicators li img{
			height: 80px;
		}
	
	/* --- quero contratar --- */
		#quero-contratar h2{
			font-size: 23px;
		}
		#quero-contratar textarea{
			height: 200px;
		}

	/* --- proximos eventos --- */
		#proximos-eventos h2{
			font-size: 23px;
		}
		#proximos-eventos .row img{
			height: 262px;
		}

	/* --- proximos eventos --- */
		#proximos-eventos .row h3{
			font-size: 22px;
		}
		#proximos-eventos .row .data{
			font-size: 16px;
		}
		#proximos-eventos .row h4{
			font-size: 18px;
		}
		#proximos-eventos .row a{
			font-size: 16px;
		}

	/* --- modal Quero participar */
		#modalParticipar .modal-body{
			padding: 40px 40px;
		}
		#modalParticipar input,
		#modalParticipar select{
			height: 30px;
			font-size: 14px;
		}
		#modalParticipar button.btn{
			font-size: 14px;
			padding: 6px 18px;
		}	
}