/* --- global --- */

/* --- header especifico --- */
	header{
		position: relative;
	}
	/* --- submenu --- */
	header .dropdown-menu{
		margin-top: -8px;
		opacity: 0.9;
	}
	header #topo a.text-primary:focus,
	header #topo a.text-primary:hover{
		color: var(--gray-dark)!important;
	}
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--gray-dark)!important;
		border-bottom: 1px solid var(--red)!important;
		transition: .5s;
	}

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-especialidades.jpg)no-repeat center center;
		background-size: cover;
		height: 279px;
	}

/* --- conteudo --- */
	#conteudo h1{
		font-size: 50px;
	}
	#conteudo .row h3{
		font-size: 30px;
	}
	#conteudo .row a{
		background-color: #aaaaaa;
		font-size: 18px;
		padding: 12px 46px;
	}
	#conteudo .row a:hover{
		box-shadow: 0px 4px 6px #888;
	}

/* --- download --- */
	#download{
		background-color: #aaaaaa;
		padding-top: 18px;
		padding-bottom: 18px;
	}
	#download a{
		font-size: 20px;
	}

/* --- profissionais --- */
	#profissionais .slide{
		position: relative;
	}
	#profissionais .slide img{
		max-height: 260px;
		width: 100%;
		object-fit: cover;
	}
	#profissionais .slide .descricao{
		position: absolute;
		bottom: 0;
		background-color: rgba(0,0,0,.8);
		color: var(--white);
		width:100%;
		height:35%;
		opacity: 0;
		transition: .5s;
		font-size: 14px;
	}
	#profissionais .slide:hover .descricao{
		opacity: 1;
		transition: .5s;
	}

	/* --- slick-slide --- */
	.btn-slick-carousel-left,
	.btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		top: 45%;
	}
	.btn-slick-carousel-left{
		left: -60px;
	}
	.btn-slick-carousel-right{
		right: -60px;
	}

/* --- depoimentos --- */
	#depoimentos .slide{
		position: relative;
	}
	#depoimentos .slide img{
		max-height: 271px;
		width: 100%;
		object-fit: cover;
	}
	#depoimentos .slide .descricao{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background-color: rgba(255,255,255,.9);
		color: var(--primary-color);
		width:80%;
		height:80%;
		opacity: 0;
		transition: .5s;
		font-size: 12.84px;
		clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 53% 95%, 50% 100%, 47% 95%, 0 95%);
		overflow-y: auto;
	}
	#depoimentos .slide .descricao .autor{
		font-size: 17.66px;
	}
	#depoimentos .slide:hover .descricao{
		opacity: 1;
		transition: .5s;
	}

	/* slick-slide */
	#depoimentos .btn-slick-carousel-left,
	#depoimentos .btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		top: 110%;
		width: 22px;
	}
	#depoimentos .btn-slick-carousel-left{
		left: 42%;
	}
	#depoimentos .btn-slick-carousel-right{
		right: 42%;
	}
	#depoimentos .slick-dots{
		top: 109%;
	}
	#depoimentos .slick-dots li{
		margin: 0 0px;
	}
	#depoimentos .slick-dots li button:before{
		width: 10px;
		height: 10px;
		content: '';
		border: 1px solid var(--primary-color);
		border-radius: 50%;
	}
	#depoimentos .slick-dots li.slick-active button:before{
		background-color: var(--primary-color);
	}
	
/* --- formulario --- */
	#formulario input,
	#formulario textarea{
		border: 1px solid #ccc;
		font-size: 16px;
		padding-left: 25px;
	}
	#formulario input{
		height: 53px;
	}
	#formulario textarea{
		height: 125px;
	}
	#formulario ::placeholder{
		color: var(--primary-color);
	}
	#formulario button{
		background-color: #b20d0f;
		font-size: 18px;
		width: 100%;
		padding-top: 11px;
		padding-bottom: 11px;
	}
	#formulario button:hover{
		box-shadow: 0px 4px 6px #888;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- header especifico --- */
		header{
			position: relative;
		}
		/* --- submenu --- */
		header .dropdown-menu{
			margin-top: 14px;
			opacity: 1;
		}
		header .navbar-nav li a,
		header .navbar-nav li a:hover{
			color: var(--white)!important;
		}
		header .dropdown-menu ul li a{
			color: var(--primary-color)!important;
		}

	/* --- profissionais --- */
		#profissionais .slide img{
			max-height: 245px;
		}
		#profissionais .slide .descricao{
			font-size: 14px;
		}

	/* --- depoimentos --- */
		#depoimentos .slide img{
			max-height: 465px;
		}
		#depoimentos .slide .descricao{
			padding: 60px 40px!important;
			width:70%;
			height:70%;
			font-size: 16.47px;
		}
		#depoimentos .slide .descricao .autor{
			text-align: right;
		}

		/* slick-slide */
		#depoimentos .btn-slick-carousel-left,
		#depoimentos .btn-slick-carousel-right{
			position: absolute;
			z-index: 1000;
			top: 109.5%;
			width: 22px;
		}
		#depoimentos .btn-slick-carousel-left{
			left: 35%;
		}
		#depoimentos .btn-slick-carousel-right{
			right: 35%;
		}

	/* --- formulario --- */
		#formulario button{
			width: 27%;
		}
		#formulario #nome,
		#formulario #email{
			width: 98%!important;
		}
		#formulario #email{
			float: right;
		}
}

@media screen and (max-width: 992px) {
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--white)!important;
	}

	/* --- depoimentos --- */
		#depoimentos .slide img{
			height: 380px;
		}
		#depoimentos .slide .descricao{
			padding: 30px 35px!important;
			width:74%;
			height:70%;
			font-size: 12.88px;
		}
		/* slick-slide */
		#depoimentos .btn-slick-carousel-left,
		#depoimentos .btn-slick-carousel-right{
			top: 105%;
		}
		#depoimentos .slick-dots{
			top: 104.5%;
		}
}

@media screen and (max-width: 480px) {
	/* --- conteudo --- */
		#conteudo h1{
			font-size: 40px;
		}
		#conteudo p{
			text-align: justify;
		}
		#conteudo .row a{
			line-height: 10px;
		}
		#conteudo .row a img{
			margin-top: 10px;
		}

	/* --- profissionais --- */
		#profissionais .container{
			width: 90%;
		}
		#profissionais .slide img{
			max-height: 336px;
			min-height: 336px;
		}
		#profissionais .slide .descricao{
			height:32%;
			opacity: 1;
		}
		#profissionais .slide .descricao{
			font-size: 17px;
		}

	/* --- depoimentos --- */
		#depoimentos .slide .descricao{
			padding: 20px 30px!important;
			width:80%;
			height:80%;
			font-size: 18.57px;
			opacity: 0;
		}

		#depoimentos .slide:hover .descricao{
			opacity: 1;
		}
		#depoimentos .slide .descricao .autor{
			text-align: center;
			font-size: 25.54px;
		}
		#depoimentos .ver-depoimento{
			margin-left: auto;
			margin-right: auto;
			position: absolute;
			bottom: 10px;
			left: 0;
			right: 0;
		}
		button.bg-primary:hover{
			background-color: var(--primary-color)!important;
		}
		#depoimentos .ver-depoimento:hover: #depoimentos .slide .descricao{
			opacity: 1;
		}
		/*#depoimentos span.fechar:hover::before .slide .descricao{
			opacity: 0;
		}*/

		/* slick-slide */
		#depoimentos .slick-dots{
			display: none!important;
		}
		#depoimentos .btn-slick-carousel-left,
		#depoimentos .btn-slick-carousel-right{
			position: absolute;
			z-index: 1000;
			top: 102%;
			width: 22px;
		}
	
	/* --- formulario --- */
		#formulario textarea{
			height: 295px;
		}
		#formulario button{
			width: 100%;
		}
		#formulario #nome,
		#formulario #email{
			width: 100%!important;
		}
		#formulario #email{
			float: none;
		}
		
}

@media screen and (max-width: 320px) {
	/* --- profissionais --- */
		#profissionais .slide img{
			max-height: 300px;
			min-height: 300px;
		}
		#profissionais .slide .descricao{
			height:34%;
		}
		#profissionais .slide .descricao{
			font-size: 14px;
		}

	/* --- viva-intensamente --- */
		#viva-intensamente ul.list{
			font-size: 20px;
		}
		#viva-intensamente ul.list .new-pr-1{
			padding-right: 18px;
		}
		#viva-intensamente ul.list .new-pr-2{
			padding-right: 30px;
		}
		#viva-intensamente ul.list .new-pr-3{
			padding-right: 22px;
		}
		#viva-intensamente .pl-2{
			padding-left: 0px!important;
		}
		#viva-intensamente a{
			font-size: 18px;
		}

	/* --- depoimentos --- */
		#depoimentos .slide .descricao{
			font-size: 16px;
		}
		#depoimentos .slide .descricao .autor{
			font-size: 20px;
		}

	/* --- blog --- */
		#blog .row h2{
			font-size: 25px;
		}
		#blog .row p{
			font-size: 14px;
			text-align: justify;
		}
		#blog .row a{
			margin-left: 12px;
		}

	/* --- modal Qual Especialidade */
		#modalQualEspecialidade .modal-body{
			padding: 40px 40px;
		}
		#modalQualEspecialidade input,
		#modalQualEspecialidade select{
			height: 30px;
			font-size: 14px;
		}
		#modalQualEspecialidade button.btn{
			font-size: 14px;
			padding: 6px 18px;
		}		
}