/*
	CSS que engloba todas as páginas
*/

@font-face {
    font-family: "TitilliumWeb Regular";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "TitilliumWeb Light";
    src: url("../fonts/TitilliumWeb-Light.ttf");
    /*font-weight: bolder;*/
}
@font-face {
    font-family: "TitilliumWeb Extra Light";
    src: url("../fonts/TitilliumWeb-ExtraLight.ttf");
    font-weight: lighter;
}

/* --- outros --- */
	a:hover{
		/*text-decoration: none;*/
	}
	:root{
		--primary-color:#333333;
		--secondary-color:#3b3536;
		--gray-light:#f6f6f6;
		--gray-dark:#737276;
	}

	body{
		font-family: "TitilliumWeb Extra Light";
		color: var(--primary-color);
	}

	.container{
		max-width: 1190px;
	}

	.bg-primary{
		background-color: var(--primary-color)!important;
	}
	.bg-secondary{
		background-color: var(--secondary-color)!important;
	}
	.bg-gray-light{
		background-color: var(--gray-light);
	}
	.bg-gray-dark{
		background-color: var(--gray-dark);
	}
	.text-primary{
		color: var(--primary-color)!important;
	}
	.text-secondary{
		color: var(--secondary-color)!important;
	}

	.titulo{
		font-size: 40px;
		letter-spacing: 0px;
	}

	/* --- Barra de rolagem do navegador --- */
	::-webkit-scrollbar {
	  width: 5px;
	  height: 10px;
	}
	::-webkit-scrollbar-track-piece {
	  background-color: var(--white);
	}
	::-webkit-scrollbar-thumb:vertical {
	  height: 5px;
	  background-color: var(--gray-dark);
	}
	::-webkit-scrollbar-thumb:horizontal {
	  width: 5px;
	  background-color: var(--gray-dark);
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 480px) {
	.titulo{
		font-size: 30px;
		letter-spacing: 0px;
	}
}

@media screen and (max-width: 320px) {
		
}