/* --- header top --- */
	header #topo .w-75{
		width: 69%!important;
	}
	header #topo .float-left img{
		margin-top: -5px;
	}
	header #topo a img,
	header #topo a img:hover{
		transition: .3s;
	}
	header #topo a img:hover{
		transform: scale(1.1)!important;
	}

/* ---- header ---- */
	header .navbar-brand img{
		margin-top: -85px;
	}
	header{
		position: absolute;
		z-index: 999;
		width: 100%;
	}
	header nav .navbar-nav a img,
	header nav .navbar-nav a img:hover{
		margin-top: -5px;
		transition: .3s;
	}
	header nav .navbar-nav a img:hover{
		transform: scale(1.1);
	}
	header nav a.nav-link{
		border-bottom: 1px solid transparent;
		padding-bottom: 3px;
		transition: .5s;
		font-size: 15px;
	}
	header nav a.nav-link:hover{
		border-bottom: 1px solid var(--white);
		transition: .5s;
	}
	header nav a.active{
		border-bottom: 1px solid var(--white);
	}
	header nav .dropdown-toggle::after {
	    display: none;
	}
	header nav .dropdown:hover .dropdown-menu{
		display: block;
	}

	header nav .redes-social-mobile a{
		font-size: 22px;
	}

	/* --- submenu --- */
	header .dropdown-menu{
		margin-top: -8px;
		padding: 25px 0;
		max-height: 190px;
	}
	header .dropdown-menu h2,
	footer .dropdown-menu h2{
		font-size: 25px;
		color: #b30e10;
	}
	header .dropdown-menu ul li{
		font-size: 17px;
		margin: 16px auto;
	}
	header .dropdown-menu ul li a,
	footer .dropdown-menu ul li a{
		color: var(--primary-color);
		text-decoration: none;
	}
	header .dropdown-menu ul li a:before,
	footer .dropdown-menu ul li a:before{
		content: url(../imagens/logos/link-right.png);
		position: relative;
		opacity: 0;
		transition: .3s;
	}
	header .dropdown-menu ul li a:hover:before,
	footer .dropdown-menu ul li a:hover:before{
		opacity: 1;
		margin: auto 10px;
	}
	
	nav > li {
	  position: static;
	}
	nav > li .dropdown-menu {
	  display: table;
	  border-radius: 0px;
	  width: 100%;
	  text-align: center;
	  left: 0;
	  right: 0;
	}

/* --- footer --- */
	footer #footer nav .navbar-nav a.nav-link{
		color: var(--primary-color);
		font-size: 15px;
	}
	footer #direitos .bg-gray-dark{
		min-height: 75px;
	}
	footer #direitos a,
	footer #direitos span{
		font-size: 15px;
	}

	footer .navbar-nav a.nav-link{
		border-bottom: 1px solid transparent;
		transition: .5s;
	}
	footer .navbar-nav a.nav-link:focus,
	footer .navbar-nav a.nav-link:hover{
		border-bottom: 1px solid var(--red)!important;
		transition: .5s;
	}

	/* --- submenu --- */
	footer .dropdown-menu{
		margin-top: 0px;
		padding: 30px 0;
		/*max-height: 190px;*/
		background-color: #f1f2f2;
	}
	footer .dropdown-menu h2{
		font-size: 25px;
		color: #737276;
	}
	footer .dropdown-menu ul li{
		font-size: 17px;
		margin: 16px auto;
	}
	footer .dropdown-menu ul li a{
		color: #333333;
		text-decoration: none;
	}	

@media screen and (max-width: 1200px) {
	/* ---- header ---- */
	header #topo .w-75{
		width: 100%!important;
		text-align: center;
	}
	header #topo .w-75 .float-left{
		float: none!important;
	}
	header .navbar-brand img{
		margin-top: 10px;
	}
	header .navbar-toggler{
		margin-top: 80px;
	}
	header #navbarSite{
		background-color: var(--gray-dark);
		border-radius: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	/* --- submenu --- */
	header .dropdown-menu{
		margin-top: 14px;
		max-height: initial;
	}
}

@media screen and (max-width: 992px) {
	/* --- footer --- */
		footer #footer .navbar-toggler img{
			margin-top: 40px;
		}
		footer #footer{
			font-size: 12px;
		}

		footer #footer .d-inline-block{
			display: block!important;
		}
}

@media screen and (max-width: 480px) {
	
}

@media screen and (max-width: 320px) {
	
}