/* --- global --- */

/* --- carousel --- */
	#carousel .carousel-item{
		height: 716px;
		background: no-repeat center center scroll;
	    background-size: cover;
	}

/* --- especialidades --- */
	#especialidades h2{
		color: #666666;
	}
	#especialidades{
		background-color: #fbfbfb;
		padding-bottom: 30px;
	}
	#especialidades .row .col-12{
		transition: .3s;
	}
	#especialidades .row .col-12 a{
		color: var(--primary-color);
		font-size: 15px;
		text-decoration: none;
	}
	#especialidades .row .col-12 .new-img{
		background: url(../imagens/logos/icon-dente-red.png)no-repeat center center;
		background-size: cover;
		width: 34px;
		height: 35px;
	}
	#especialidades .row .col-12:hover{
		background-color: var(--gray-dark);
		color: var(--white);
		transition: .3s;
	}
	#especialidades .row .col-12:hover a{
		color: color: var(--white);
	}
	#especialidades .row .col-12:hover .new-img{
		background: url(../imagens/logos/icon-dente-white.png)no-repeat center center;
	}

/* --- profissionais --- */
	#profissionais h2{
		color: #666666;
	}
	#profissionais .slide{
		position: relative;
	}
	#profissionais .slide img{
		max-height: 260px;
		width: 100%;
		object-fit: cover;
	}
	#profissionais .slide .descricao{
		position: absolute;
		bottom: 0;
		background-color: rgba(0,0,0,.8);
		color: var(--white);
		width:100%;
		height:35%;
		opacity: 0;
		transition: .5s;
		font-size: 14px;
	}
	#profissionais .slide:hover .descricao{
		opacity: 1;
		transition: .5s;
	}

	/* --- slick-slide --- */
	.btn-slick-carousel-left,
	.btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		top: 45%;
	}
	.btn-slick-carousel-left{
		left: -60px;
	}
	.btn-slick-carousel-right{
		right: -60px;
	}

/* --- viva-intensamente --- */
	#viva-intensamente ul.list{
		list-style: none;
		font-size: 28px;
	}
	#viva-intensamente ul.list .new-pr-1{
		padding-right: 45px;
	}
	#viva-intensamente ul.list .new-pr-2{
		padding-right: 55px;
	}
	#viva-intensamente ul.list .new-pr-3{
		padding-right: 48px;
	}
	#viva-intensamente a{
		font-size: 25px;
		color: var(--gray);
	}

/* --- logo japones --- */
	#logo-japones img:first-child{
		margin-top: -98px;
		position: relative;
	}

/* --- depoimentos --- */
	#depoimentos .slide{
		position: relative;
	}
	#depoimentos .slide img{
		max-height: 271px;
		width: 100%;
		object-fit: cover;
	}
	#depoimentos .slide .descricao{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background-color: rgba(255,255,255,.9);
		color: var(--primary-color);
		width:80%;
		height:80%;
		opacity: 0;
		transition: .5s;
		font-size: 12.84px;
		clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 53% 95%, 50% 100%, 47% 95%, 0 95%);
		overflow-y: auto;
	}
	#depoimentos .slide .descricao .autor{
		font-size: 17.66px;
	}
	#depoimentos .slide:hover .descricao{
		opacity: 1;
		transition: .5s;
	}

	/* slick-slide */
	#depoimentos .btn-slick-carousel-left,
	#depoimentos .btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		top: 110%;
		width: 22px;
	}
	#depoimentos .btn-slick-carousel-left{
		left: 42%;
	}
	#depoimentos .btn-slick-carousel-right{
		right: 42%;
	}
	#depoimentos .slick-dots{
		top: 109%;
	}
	#depoimentos .slick-dots li{
		margin: 0 0px;
	}
	#depoimentos .slick-dots li button:before{
		width: 10px;
		height: 10px;
		content: '';
		border: 1px solid var(--primary-color);
		border-radius: 50%;
	}
	#depoimentos .slick-dots li.slick-active button:before{
		background-color: var(--primary-color);
	}

/* --- blog --- */
	#blog .row h2{
		font-size: 36.7px;
		line-height: 35px;
	}
	#blog .row p{
		font-size: 14.68px;
	}
	#blog .row a{
		color: color: var(--primary-color);
		font-size: 18.35px;
	}

/* --- item fixo --- */
	#item-fixo{
		display: inline-block;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 20px 0 0 20px;
		position: fixed;
		bottom: 50px;
		right: 0px;
		z-index: 1000;
		background-color: var(--white)
	}
	#item-fixo a img.btn1,
	#item-fixo a img.btn2{
		transition: .4s;
	}
	#item-fixo a img.btn1:hover,
	#item-fixo a img.btn2:hover{
		cursor: pointer;
		transform: scale(1.1);
		transition: .4s;
	}

/* --- modal Qual Especialidade */
	#modalQualEspecialidade .modal-lg{
		min-width: 980px!important;
		/*heit 774*/
	}
	#modalQualEspecialidade .modal-body{
		padding: 100px 150px;
	}
	#modalQualEspecialidade h2{
		font-size: 50px;
	}
	#modalQualEspecialidade input,
	#modalQualEspecialidade select{
		height: 50px;
		font-size: 16px;
		border: 1px solid #aaaaaa;
	}
	#modalQualEspecialidade button.btn{
		background-color: var(--primary-color);
		font-size: 18px;
		color: var(--white);
		padding: 10px 32px;
	}
	
@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- logo japones --- */
		#logo-japones img:first-child{
			margin-top: -88px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- logo japones --- */
		#logo-japones .container{
			max-width: 100%!important;
			padding: 0;
		}
		#logo-japones img:first-child{
			/*margin-top: -20px;*/
			margin-bottom: -50px;
			position: relative;
		}

	/* --- depoimentos --- */
		#depoimentos .slide img{
			max-height: 490px;
		}
		#depoimentos .slide .descricao{
			padding: 60px 40px!important;
			width:70%;
			height:70%;
			font-size: 16.47px;
		}
		#depoimentos .slide .descricao .autor{
			text-align: right;
		}

		/* slick-slide */
		#depoimentos .btn-slick-carousel-left,
		#depoimentos .btn-slick-carousel-right{
			position: absolute;
			z-index: 1000;
			top: 109.5%;
			width: 22px;
		}
		#depoimentos .btn-slick-carousel-left{
			left: 35%;
		}
		#depoimentos .btn-slick-carousel-right{
			right: 35%;
		}

	/* --- especialidades --- */
		#especialidades .row .col-12 h3{
			font-size: 25.96px;
		}
		#especialidades .row .col-12 p{
			font-size: 14.83px;
		}
		#especialidades .row .col-12 a{
			font-size: 13.91px;
		}

	/* --- profissionais --- */
		#profissionais .slide img{
			max-height: 245px;
		}
		#profissionais .slide .descricao{
			font-size: 14px;
		}

	/* --- modal Qual Especialidade */
		#modalQualEspecialidade .modal-lg{
			min-width: initial!important;
		}
		#modalQualEspecialidade .modal-body{
			padding: 80px 80px;
		}
		#modalQualEspecialidade h2{
			font-size: 40px;
		}
		#modalQualEspecialidade button.btn{
			font-size: 16px;
			padding: 6px 24px;
		}
}

@media screen and (max-width: 992px) {
	/* --- carousel --- */
		#carousel .carousel-item{
			height: 560px;
		}

	/* --- especialidades --- */
		#especialidades .row .col-12{
			background-color: var(--white);
		}
		#especialidades .row .col-12:nth-child(1),
		#especialidades .row .col-12:nth-child(4),
		#especialidades .row .col-12:nth-child(5){
			background-color: var(--gray-light);
		}
		#especialidades .row .col-12:hover{
			background-color: var(--gray-dark);
		}

	/* --- viva-intensamente --- */
		#viva-intensamente .float-left{
			float: none!important;
			text-align: center;
		}
		#viva-intensamente .w-75{
			width: 70%!important;
			margin-left: auto;
			margin-right: auto;
			text-align: justify;
			font-size: 16.45px;
		}
		#viva-intensamente a{
			margin-left: 120px;
		}

	/* --- logo japones --- */
		#logo-japones img:first-child{
			margin-top: -20px;
			width: 231px;
		}

	/* --- depoimentos --- */
		#depoimentos .slide img{
			height: 490px;
		}
		#depoimentos .slide .descricao{
			width:75%;
			height:70%;
			font-size: 16.47px;
		}
		/* slick-slide */
		#depoimentos .btn-slick-carousel-left,
		#depoimentos .btn-slick-carousel-right{
			top: 105%;
		}
		#depoimentos .slick-dots{
			top: 104.5%;
		}

	/* --- blog --- */
		#blog .row{
			padding-left: 20px;
			padding-right: 20px;
		}
		#blog .row h2{
			font-size: 35.1px;
		}
		#blog .row p{
			font-size: 14.04px;
		}
		#blog .row a{
			font-size: 17.55px;
		}		
}

@media screen and (max-width: 480px) {
	/* --- especialidades --- */
		#especialidades .row .col-12:nth-child(1),
		#especialidades .row .col-12:nth-child(2),
		#especialidades .row .col-12:nth-child(5){
			background-color: var(--white);
		}
		#especialidades .row .col-12:nth-child(2),
		#especialidades .row .col-12:nth-child(4),
		#especialidades .row .col-12:nth-child(6){
			background-color: var(--gray-light);
		}
		#especialidades .row .col-12:hover{
			background-color: var(--gray-dark);
		}
		#especialidades .row .col-12 p{
			font-size: 11.83px;
		}
		#especialidades .row .col-12 a{
			color: color: var(--primary-color);
			font-size: 13.91px;
		}

	/* --- profissionais --- */
		#profissionais .container{
			width: 90%;
		}
		#profissionais .slide img{
			max-height: 376px;
			min-height: 376px;
		}
		#profissionais .slide .descricao{
			height:28%;
			opacity: 1;
		}
		#profissionais .slide .descricao{
			font-size: 17px;
		}

	/* --- viva-intensamente --- */
		#viva-intensamente ul.list{
			font-size: 23.14px;
		}
		#viva-intensamente ul.list .new-pr-1{
			padding-right: 30px;
		}
		#viva-intensamente ul.list .new-pr-2{
			padding-right: 42px;
		}
		#viva-intensamente ul.list .new-pr-3{
			padding-right: 35px;
		}

		#viva-intensamente .titulo{
			font-size: 31.12px;
		}
		#viva-intensamente .w-75{
			width: 100%!important;
		}
		#viva-intensamente a{
			margin-left: 0px;
		}

	/* --- logo japones --- */
		#logo-japones .container{
			max-width: 100%!important;
			padding: 0;
		}
		#logo-japones img:first-child{
			margin-top: -50px;
			margin-bottom: 10px;
			position: relative;
		}

	/* --- depoimentos --- */
		#depoimentos .slide .descricao{
			padding: 40px 40px!important;
			width:85%;
			height:70%;
			font-size: 18.57px;
			opacity: 0;
		}
		
		#depoimentos .slide:hover .descricao{
			opacity: 1;
		}
		#depoimentos .slide .descricao .autor{
			text-align: center;
			font-size: 25.54px;
		}
		#depoimentos .ver-depoimento{
			margin-left: auto;
			margin-right: auto;
			position: absolute;
			bottom: 25px;
			left: 0;
			right: 0;
		}
		button.bg-primary:hover{
			background-color: var(--primary-color)!important;
		}
		#depoimentos .ver-depoimento:hover: #depoimentos .slide .descricao{
			opacity: 1;
		}
		/*#depoimentos span.fechar:hover::before .slide .descricao{
			opacity: 0;
		}*/

		/* slick-slide */
		#depoimentos .slick-dots{
			display: none!important;
		}
		#depoimentos .btn-slick-carousel-left,
		#depoimentos .btn-slick-carousel-right{
			position: absolute;
			z-index: 1000;
			top: 102%;
			width: 22px;
		}

	/* --- blog --- */
		#blog .row h2{
			text-align: center;
		}
		#blog .row p{
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
		#blog .row a{
			margin-left: 35px;
		}

	/* --- modal Qual Especialidade */
		#modalQualEspecialidade .modal-lg{
			min-width: initial!important;
		}
		#modalQualEspecialidade .modal-body{
			padding: 70px 70px;
		}
		#modalQualEspecialidade h2{
			font-size: 24px;
		}
		#modalQualEspecialidade input,
		#modalQualEspecialidade select{
			height: 35px;
			font-size: 16px;
		}
		#modalQualEspecialidade button.btn{
			font-size: 16px;
			padding: 6px 18px;
		}

	/* --- item fixo --- */
		#item-fixo a img.btn1,
		#item-fixo a img.btn2{
			width: 28px;
		}
}

@media screen and (max-width: 320px) {
	/* --- profissionais --- */
		#profissionais .slide img{
			max-height: 300px;
			min-height: 300px;
		}
		#profissionais .slide .descricao{
			height:34%;
		}
		#profissionais .slide .descricao{
			font-size: 14px;
		}

	/* --- viva-intensamente --- */
		#viva-intensamente ul.list{
			font-size: 20px;
		}
		#viva-intensamente ul.list .new-pr-1{
			padding-right: 18px;
		}
		#viva-intensamente ul.list .new-pr-2{
			padding-right: 30px;
		}
		#viva-intensamente ul.list .new-pr-3{
			padding-right: 22px;
		}
		#viva-intensamente .pl-2{
			padding-left: 0px!important;
		}
		#viva-intensamente a{
			font-size: 18px;
		}

	/* --- depoimentos --- */
		#depoimentos .slide .descricao{
			font-size: 16px;
		}
		#depoimentos .slide .descricao .autor{
			font-size: 20px;
		}

	/* --- blog --- */
		#blog .row h2{
			font-size: 25px;
		}
		#blog .row p{
			font-size: 14px;
			text-align: justify;
		}
		#blog .row a{
			margin-left: 12px;
		}

	/* --- modal Qual Especialidade */
		#modalQualEspecialidade .modal-body{
			padding: 40px 40px;
		}
		#modalQualEspecialidade input,
		#modalQualEspecialidade select{
			height: 30px;
			font-size: 14px;
		}
		#modalQualEspecialidade button.btn{
			font-size: 14px;
			padding: 6px 18px;
		}		
}