/* --- global --- */

/* --- header especifico --- */
	header{
		position: relative;
	}
	/* --- submenu --- */
	header .dropdown-menu{
		margin-top: -8px;
		opacity: 0.9;
	}
	header #topo a.text-primary:focus,
	header #topo a.text-primary:hover{
		color: var(--gray-dark)!important;
	}
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--gray-dark)!important;
		border-bottom: 1px solid var(--red)!important;
		transition: .5s;
	}

/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-sobre.jpg)no-repeat center center;
		background-size: cover;
		height: 279px;
	}

/* --- conteudo --- */
	#conteudo h1{
		font-size: 40px;
	}
	#conteudo .ambientes img.img-1{
		height: 700px;
		object-fit: cover;
		filter: grayscale(100%);
		transition: .5s;
	}
	#conteudo .ambientes img.img-2{
		height: 350px;
		object-fit: cover;
		filter: grayscale(100%);
		transition: .5s;
	}
	#conteudo .ambientes img.img-3{
		height: 350px;
		object-fit: cover;
		filter: grayscale(100%);
		transition: .5s;
	}
	#conteudo .ambientes img.img-4{
		height: 350px;
		object-fit: cover;
		filter: grayscale(100%);
		transition: .5s;
	}
	#conteudo .ambientes img.img-5{
		height: 350px;
		object-fit: cover;
		filter: grayscale(100%);
		transition: .5s;
	}
	#conteudo .ambientes img:hover{
		filter: grayscale(0%);	
	}
	#conteudo .ambientes .descricao p{
		font-size: 18px;
	}
	#conteudo .ambientes .descricao{
		position: absolute;
		bottom: 0;
		background-color: rgba(0,0,0,.8);
		color: var(--white);
		width:100%;
		height:50px;
		opacity: 0;
		transition: .5s;
	}
	#conteudo .ambientes .new-hover:hover .descricao{
		opacity: 1;
		transition: .5s;
	}

/* --- idealizadores --- */
	#idealizadores .w-75{
		/*width: 82%!important;*/
	}
	#idealizadores h2{
		font-size: 45px;
	}
	#idealizadores p{
		line-height: 25px;
	}

/* --- corpo clinico --- */
	#corpo-clinico{
		background-color: #fbfbfb;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	#corpo-clinico .slide{
		position: relative;
	}
	#corpo-clinico .slide img{
		max-height: 260px;
		width: 100%;
		object-fit: cover;
	}
	#corpo-clinico .slide .descricao{
		position: absolute;
		bottom: 0;
		background-color: rgba(0,0,0,.8);
		color: var(--white);
		width:100%;
		height:35%;
		opacity: 0;
		transition: .5s;
		font-size: 14px;
	}
	#corpo-clinico .slide:hover .descricao{
		opacity: 1;
		transition: .5s;
	}

	/* --- slick-slide --- */
	.btn-slick-carousel-left,
	.btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		top: 45%;
	}
	.btn-slick-carousel-left{
		left: -60px;
	}
	.btn-slick-carousel-right{
		right: -60px;
	}

/* --- especialidades --- */
	#especialidades{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#especialidades .row .col-12{
		transition: .3s;
		background-color: #fbfbfb!important;
	}
	#especialidades .row .col-12:nth-child(2),
	#especialidades .row .col-12:nth-child(4),
	#especialidades .row .col-12:nth-child(6){
		background-color: #f6f6f6!important;
	}
	#especialidades .row .col-12 a{
		color: color: var(--primary-color);
		font-size: 15px;
		text-decoration: none;
	}
	#especialidades .row .col-12 .new-img{
		background: url(../imagens/logos/icon-dente-red.png)no-repeat center center;
		background-size: cover;
		width: 34px;
		height: 35px;
	}
	#especialidades .row .col-12:hover{
		background-color: var(--gray-dark)!important;
		color: var(--white);
		transition: .3s;
	}
	#especialidades .row .col-12:hover a{
		color: color: var(--white);
	}
	#especialidades .row .col-12:hover .new-img{
		background: url(../imagens/logos/icon-dente-white.png)no-repeat center center;
	}

/* --- missao --- */
	#missao h3{
		font-size: 28.99px;
	}
	#missao p{
		font-size: 15.46px;
	}
	#missao .row .col-12{
		background-color: #fbfbfb;
	}
	#missao .row .col-12:nth-child(2),
	#missao .row .col-12:nth-child(4),
	#missao .row .col-12:nth-child(6){
		background-color: #f6f6f6;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- header especifico --- */
		header{
			position: relative;
		}
		/* --- submenu --- */
		header .dropdown-menu{
			margin-top: 14px;
			opacity: 1;
		}
		header .navbar-nav li a,
		header .navbar-nav li a:hover{
			color: var(--white)!important;
		}
		header .dropdown-menu ul li a{
			color: var(--primary-color)!important;
		}

	/* --- profissionais --- */
		#corpo-clinico .slide img{
			max-height: 245px;
		}
		#corpo-clinico .slide .descricao{
			font-size: 14px;
		}
}

@media screen and (max-width: 992px) {
	header .navbar-nav a.text-primary:focus,
	header .navbar-nav a.text-primary:hover{
		color: var(--white)!important;
	}
	/* --- conteudo --- */
		#conteudo h1{
			font-size: 40px;
		}
		#conteudo .ambientes img.img-1,
		#conteudo .ambientes img.img-2,
		#conteudo .ambientes img.img-3,
		#conteudo .ambientes img.img-4,
		#conteudo .ambientes img.img-5{
			width: 100%;
			height: 350px;
		}

	/* --- idealizadores --- */
		#idealizadores .w-75{
			width: 88%!important;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		#idealizadores h2{
			font-size: 45px;
		}
		#idealizadores p{
			line-height: 25px;
		}

	/* --- especialidades --- */
		#especialidades{
			padding-top: 30px;
			padding-bottom: 30px;
		}
		#especialidades h3{
			font-size: 25.96px;
		}
		#especialidades p{
			font-size: 14.83px;
		}
		#especialidades .row .col-12 a{
			color: color: var(--primary-color);
			font-size: 13.91px;
		}
		#especialidades .row .col-12:nth-child(2),
		#especialidades .row .col-12:nth-child(3),
		#especialidades .row .col-12:nth-child(6){
			background-color: #fbfbfb!important;
		}
		#especialidades .row .col-12:nth-child(1),
		#especialidades .row .col-12:nth-child(4),
		#especialidades .row .col-12:nth-child(5){
			background-color: #f6f6f6!important;
		}
		#especialidades .row .col-12 .new-img{
			width: 32px;
			height: 33px;
		}
		#especialidades .row .col-12:hover{
			background-color: var(--gray-dark)!important;
		}

	/* --- missao --- */
		#missao .row .col-12{
			background-color: #fbfbfb!important;
		}
		#missao .row .col-12:nth-child(2),
		#missao .row .col-12:nth-child(3),
		#missao .row .col-12:nth-child(6){
			background-color: #f6f6f6!important;
		}
}

@media screen and (max-width: 480px) {
	/* --- conteudo --- */
		#conteudo .container h1{
			font-size: 30px;
		}
		#conteudo .container p{
			text-align: justify;
		}
		#conteudo .ambientes img.img-1,
		#conteudo .ambientes img.img-2,
		#conteudo .ambientes img.img-3,
		#conteudo .ambientes img.img-4,
		#conteudo .ambientes img.img-5{
			height: 250px;
		}
		#conteudo .ambientes .descricao p{
			font-size: 12.92px;
		}
		#conteudo .ambientes .descricao{
			height:36px;
			opacity: 1;
		}

	/* --- idealizadores --- */
		#idealizadores .w-75{
			width: 80%!important;
		}
		#idealizadores h2{
			font-size: 35px;
		}
		#idealizadores p{
			text-align: justify;
		}

	/* --- profissionais --- */
		#corpo-clinico .container{
			width: 90%;
		}
		#corpo-clinico .slide img{
			max-height: 376px;
			min-height: 376px;
		}
		#corpo-clinico .slide .descricao{
			height:28%;
			opacity: 1;
		}
		#corpo-clinico .slide .descricao{
			font-size: 17px;
		}

	/* --- especialidades --- */
		#especialidades .row .col-12:nth-child(1),
		#especialidades .row .col-12:nth-child(3),
		#especialidades .row .col-12:nth-child(5){
			background-color: #fbfbfb!important;
		}
		#especialidades .row .col-12:nth-child(2),
		#especialidades .row .col-12:nth-child(4),
		#especialidades .row .col-12:nth-child(6){
			background-color: #f6f6f6!important;
		}
		#especialidades .row .col-12:hover{
			background-color: var(--gray-dark)!important;
		}
		#especialidades .row .col-12 p{
			font-size: 11.83px;
		}
		#especialidades .row .col-12 a{
			color: color: var(--primary-color);
			font-size: 13.91px;
		}

	/* --- missao --- */
		#missao .row .col-12:nth-child(1),
		#missao .row .col-12:nth-child(3),
		#missao .row .col-12:nth-child(5){
			background-color: #fbfbfb!important;
		}
		#missao .row .col-12{
		}
		#missao .row .col-12:nth-child(2),
		#missao .row .col-12:nth-child(4),
		#missao .row .col-12:nth-child(6){
			background-color: #f6f6f6!important;
		}
}

@media screen and (max-width: 320px) {
	
}